.team-card-link {
  background-color: #ffffff33;
  border: 2px solid #475569;
  margin: 10px;
  border-radius: 8px;
  padding: 16px;
  width: 45%;
  text-decoration: none;
  color: #ffffff;
}

.team-card {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-card-img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .team-card-img {
    width: 130px;
    height: 140px;
    margin-right: 25px;
  }
}

.team-card-heading {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .team-card-heading {
    font-size: 32px;
    font-weight: 500;
  }
}
