.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.ipl-logo {
  width: 30px;
  height: 50px;
  margin-right: 10px;
}

.main-heading {
  font-size: 42px;
  font-weight: bold;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}
