.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.sh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.bg-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.loader-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 80%;
  }
}

.team-banner {
  width: 100%;
  border-radius: 12px;
}

.latest-heading {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .latest-heading {
    font-size: 26px;
  }
}

.recent-matches-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
